<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Article url</th>
      <th>Article image url</th>
      <th>Desc</th>
      <th>Resource type</th>
      <th>Article date</th>
      <th>Publish it</th>
      <th>Image</th>
      <th>Resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.article_url %></td>
        <td><%= article.article_image_url %></td>
        <td><%= article.desc %></td>
        <td><%= article.resource_type %></td>
        <td><%= article.article_date %></td>
        <td><%= article.publish_it %></td>
        <td><%= image_tag article.image.url(:thumb) %></td>

        <td><%= link_to article.resource.title, article.resource %></td>

        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure that you want to destroy this?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
