<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :author %>
    <%= f.input :serving_size %>
    <%= f.input :prep_time %>
    <%= f.input :cooktime %>
    <%= f.input :total_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
