<%= simple_form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag @resource.image.url(:thumb) %>

    <%= f.file_field :image %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :about_url %><br>
    <%= f.text_field :about_url %>
  </div>
  <div class="field">
    <%= f.label :resource_url %><br>
    <%= f.text_field :resource_url %>
  </div>
  <div class="field">
    <%= f.label :resource_type %><br>
    <%= f.text_field :resource_type %>
  </div>
  <br>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br>
